body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.gridContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.clickable {
  cursor:pointer;
}

.status {
  font-size: 9pt;
}

.timer {
    min-width: 2em;
}

.grid {
    border-spacing: 0;
    border-collapse: collapse;
    user-select: none;
}

.row {
  display:table-row;
}

.cell {
    display:table-cell;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 36px;
    height: 36px;
    cursor: pointer;
    vertical-align: middle;
}

.cell.selected {
    background-color: blue;
    cursor: default;
}

.cell.selected.selecting {
  cursor: -webkit-grabbing;
}

.cell.used {
  color:lightgrey;
  cursor:no-drop;
}

.completed .cell{
  cursor: default;
}

.hint {
  animation: hint 1.5s linear;
}

.characters {
  height: 1em;
  margin: 5px;
}

.spinning {
    animation: icon-spin infinite 20s linear;
}

@keyframes hint {
    from {background-color: yellow;}
    to {background-color: white;}
}

@keyframes icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
