.wordList {
  width:223px;
  display:flex;
  flex-wrap:wrap;
}

.wordBox {
  display:flex;
  flex-wrap: wrap;
  margin-right: 1.3em;
  margin-top: 0.2em;
}

.wordBox a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: inherit;
}

.wordBox a:hover {
  text-decoration: underline;
  color: blue;
}

.charBox {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}
